<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>HYBE所属ドルの詳細</title>
</head>
<body>
  <h2>HYBE所属ドルの詳細</h2>
  <table>
    <tr>
        <th>ID</th>
        <th>事務所コード</th>
        <th>グループ名</th>
    </tr>
      <% for( let row of data ) { %>
        <tr><td><%= row.id %></td>
        <td><%= row.code %></td>
        <td><%= row.name %></td></tr>
      <% } %>
  </table>
</body>
</html>